@import "./fonts.css";
@import "tailwindcss";

@theme {
  --color-dark-blue: #26273f;
  --color-pinkish: #fe5980;
  --color-damascus: #ff6464;
  --color-onyx: #373737;
}

body {
  @apply text-onyx;
  font-family: "Inter", sans-serif;
}
a {
  margin: 0 0.5rem;
  font-weight: 200;
  text-decoration: none;
  @apply text-onyx;
}
.fade-in-up {
  animation: fadeInUp 0.8s ease forwards;
  opacity: 0;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
