@import "./fonts.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  @apply text-darkBlue;
  font-family: "Inter", sans-serif;
}
a {
  margin: 0 0.5rem;
  font-weight: 200;
  text-decoration: none;
  @apply text-darkBlue;
}
