---
import CoverLetterText from "../data/letter.json";
import ThreeD from "@components/ThreeD.astro";
---

<main>
  <div class="flex justify-center flex-col items-center gap-2 my-28 mx-12">
    <p class="whitespace-pre-wrap desc">{CoverLetterText.letter}</p>
  </div>
</main>

<style>
  .horizontal-line {
    color: #26273f;
    border: none;
    height: 5px;
    background-color: #26273f;
  }
</style>
