---
import { Image } from "astro:assets";
import profile from "../../public/images/profile.png";
---

<main>
  <header>
    <div
      class="flex justify-center align-middle flex-col-reverse md:flex-row mt-28 gap-32 md:gap-0 m-6"
    >
      <div class="md:max-w-md flex items-center gap-9 self-center flex-col">
        <h1 class="text-start w-full md:text-6xl sm:mt-60 gap-4">
          Hey, I'm <span class="text-pinkish">Rodrigo Baragona</span>,
          <span class="subtitle">a</span>
          <span class="role"> full.stack developer</span>
        </h1>
        <div
          class="flex flex-wrap md:flex-nowrap md:flex-col gap-3 justify-center md:gap-3 w-full md:max-w-md md:mx-0 sm:mx-36"
        >
          <h3 class="subtitle text-base md:text-3xl self-start">
            Developing solutions
          </h3>
          <h3 class="md:text-3xl gradient-text self-center">through</h3>
          <h3 class="subtitle md:text-3xl text-pinkish role self-end">
            inventive design
          </h3>
        </div>
      </div>
      <div class="flex justify-center items-center">
        <Image
          src={profile}
          alt="Profile pic"
          loading="eager"
          class="profile-pic"
        />
      </div>
    </div>
  </header>
</main>

<style>
  h1 {
    font-size: 50px;
    margin: 0;
  }
  .subtitle {
    font-weight: 200;
  }
  .thin {
    opacity: 0.7;
  }
  .name {
    font-weight: 400;
  }

  .role {
    font-weight: 700;
  }

  .title-wrapper {
    width: 650px;
  }
  .profile-pic {
    border-radius: 50%;
    margin-top: 1rem;
    box-shadow: 50px 50px 0px #fe5980;
  }

  .gradient-text {
    background: linear-gradient(to bottom right, #26273f 16%, #fe5980 62%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
