---
export interface TechnologyListProps {
  title: string;
  techs: { name: string; image?: string }[];
}

const { title, techs } = Astro.props as TechnologyListProps;
---

<div class="flex justify-center items-center flex-col">
  <h4 class="text-3xl font-medium">{title}</h4>
  <ul class="inline-flex flex-wrap gap-3 flex-col justify-center">
    {
      techs.map((tech, index) => (
        <li key={index} class="flex justify-center">
          <p>.{tech.name}</p>
        </li>
      ))
    }
  </ul>
</div>
